@model Цветочный_магазин.Models.Flower

@{
    ViewBag.Title = "Delete";
}
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">

                <h2>Удаление</h2>

                <h3>Подтвердите удаление товара</h3>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.price)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.price)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.availability)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.availability)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Удалить" class="button button-login w-100"  /> 
                            @Html.ActionLink("Вернуться назад", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>